* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #373737;
}

.sideBar {
    background-color: purple;
    width: 68px;
    height: 910px;
}

.iconHome {
    background-color: white;
    padding: 55%;
    border-radius: 100%;
}


