@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --corCabecalho: #700848;
    --corDaFonte: #f9eae1;
    --corFundo: #7899d4;
    --corDaTransicao: #4EA5D9;
    --corBackgroundPerfil: #f9eae1;
}
#cabecalho {
    background-color: var(--corCabecalho);
    height: 75px;
}

body {
    background-color: var(--corFundo);
}

#title h1 {
    color: var(--corDaFonte);
    padding-left: 45px;
    font-size: 26px;
    padding-top: 2px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    position: relative;
    bottom: 2.2px;
}

#navbar ul{
    display: flex;
    gap: 5rem;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

#navbar ul li {
    list-style: none;
    font-size: 26px;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--corDaFonte);
}

#navbar a:hover {
    color: var(--corDaTransicao);
    transition: all .45s ease-out; 
}

#navbar .iconSobreMim {
    position: absolute;
    left: 635px;
    top: 2px;
    color: var(--corDaFonte);
}

#navbar .iconProjetos {
    position: absolute;
    left: 865px;
    top: 2px;
    color: var(--corDaFonte);
}

#navbar .iconContatos {
    position: absolute;
    left: 1070px;
    top: 2px;
    color: var(--corDaFonte);
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.circuloAzul {
    padding: 175px;
    margin: 10px;
    background-color: var(--corFundo);
    border-radius: 50%;
    position: relative;
    right: 625px;
    top: 95px;
}

.apresentacao h1 {
    color: var(--corDaFonte);
    font-size: 52px;
    position: relative;
    bottom: 255px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
}

.containerDescricao {
    max-width: 1000px;
    margin: 0 auto;
}


.descricao h2 {
    color: var(--corDaFonte);
    font-weight: 300;
    font-family: "Inknut Antiqua", serif;
    font-size: 25px;
    position: relative;
    bottom: 100px;
    left: 300px;
}

/* Estilização do contato */ 

.contatos h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 875px;
    top: 125px;
    color: var(--corDaFonte);
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-size: 45px;
}

.iconContato {
    position: absolute;
    left: 800px;
    top: 160px;
    font-size: 50px;
    color: var(--corDaFonte);
}

.divulgacao .linkedin h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 650px;
    top: 225px;
    color: var(--corDaFonte);
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
}

.divulgacao .gitHub h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1115px;
    top: 225px;
    color: var(--corDaFonte);
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
}

.iconLinke {
    position: absolute;
    left: 580px;
    top: 235px;
    color: var(--corDaFonte);
    font-size: 26px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
}

.iconGitHub {
    position: absolute;
    left: 1280px;
    top: 232px;
    color: var(--corDaFonte);
    font-size: 26px;
    cursor: pointer;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
}

.email .gmail {
    position: absolute;
    left: 930px;
    top: 345px;
    color: var(--corDaFonte);
    font-size: 26px;
    font-weight: 300;
    font-family: "Inknut Antiqua", serif;
}

.email .nomeEmail {
    position: absolute;
    left: 800px;
    top: 415px;
    color: #000;
    font-size: 26px;
    font-weight: 300;
}

.iconGmail {
    position: absolute;
    left: 850px;
    top: 368px;
    font-size: 26px;
    color: var(--corDaFonte);
    font-weight: 300;
}

.iconMenuBar {
    display: block;
    font-size: 55px;
}

/* icon eu */

.iconEu {
    position: absolute;
    top: 140px;
    left: 150px;
    height: 355px;
    width: 370px;
    border-radius: 100%;
}

/* tela resolução: mobile */

@media screen and (max-width: 480px){
    #cabecalho {
        width: 522px;
        height: 55px;
    }
    #title h1{
        font-size: 15px;
        position: absolute;
        top: 4px;
        left: 35px;
        display: flex;
        justify-content: center;
    }
    ul li {
        display: none;
    }

    .container .apresentacao h1 {
        font-size: 26px;
        position: absolute;
        top: 75px;
        left: 55px;
    }

    .containerDescricao .descricao h2 {
        position: absolute;
        font-size: 16px;
        top: 285px;
        right: 65px;
        left: 65px;
    }
    .container .apresentacao img {
        margin-top: 750px;
        display: flex;
        justify-content: center;
        margin-right: 75px;
    }
}